// colors
$base_color: #100afc;
$bg_color: rgba(117, 248, 10, 0.4);
// fonts
$base_font-family: 'Alegreya', serif;
$base_font-size: 15px;
$base_line-height: 1.6;
$base_font-weight: 400;
$base_font-style: normal;
// container
$container_max-width: 1260px;
$container_padding: 0 30px;
